@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: "#ECF0F1";
  height: 100vh;
  background: "#ECF0F1";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-color {
  color: #4702ff;
}

.secondary-color {
  color: #7700f5;
}

.neutral-black {
  color: #263238;
}

.neutral-grey {
  color: "#ECF0F1";
}

.neutral-white {
  color: "#FDFEFE";
}

.neutral-grey {
  color: "#ECF0F1";
}

p {
  color: #263238;
}

h1 {
  color: #263238;
  font-family: "Inter", sans-serif;
}
